# DhanHQ API Credentials
API_KEY=f6c12cb2
ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VyUmVnaW9uIjoiUjEiLCJpc3MiOiJkaGFuIiwicGFydG5lcklkIjoiIiwiZXhwIjoxNzg4ODQ4Njk0LCJpYXQiOjE3ODg3NjIyOTQsInRva2VuQ29uc3VtZXJUeXBlIjoiU0VMRiIsIndlYmhvb2tVcmwiOiIiLCJkaGFuQ2xpZW50SWQiOiIxMTExNzc4NDQyIn0.3NNCMIr2mxIhpvUSxGtO8YdzBMtLu5_vpcIDVrMTlLab1qt6S-gD9ln1G1ung3I-ev2hEiZcymbbosp2nYIZUg

# TradingView Credentials
TV_USERNAME=Sailor_raja12390
TV_PASSWORD=Braveboyraja@5

# Telegram Main Bot & Channel
TELEGRAM_TOKEN=8654404135:AAGHqdH81h1t1_RzjfqBSsbRk8O5l-ozRdc
CHAT_ID=-1004321977761

# Telegram Bots & Channels by Category

# INDEX OPTIONS (NIFTY, BANKNIFTY)
BOT_INDEX_TOKEN=8601160697:AAFFxscCMfqcrXaf1lw69xK7Ue-RW_8aIzI
CHANNEL_INDEX_ID=-1003966854994

# COMMODITY (GOLD, SILVER, CRUDE OIL, NATURAL GAS)
BOT_COMMODITY_TOKEN=8762956800:AAEkQZfYhawfxQEua8OSYcnp3FPRU2xywsc
CHANNEL_COMMODITY_ID=-1004403277287

# CRYPTO (BTC/USD, ETH/USD)
BOT_CRYPTO_TOKEN=8921592389:AAF7IKqXz2a7yp0a--m0vP21itKHVKqF-7k
CHANNEL_CRYPTO_ID=-1004482078964

# NIFTY50 INTRADAY 5X
BOT_NIFTY50_5X_TOKEN=8265739611:AAFbraUdEY01eJOel76S8mMgBiZT4otxkd4
CHANNEL_NIFTY50_5X_ID=-1004466883026

# NIFTY50 OPTIONS
BOT_NIFTY50_OPTIONS_TOKEN=8746059399:AAGfpg6rQfluICaezqiamCujN8_NcXbt1NQ
CHANNEL_NIFTY50_OPTIONS_ID=-1003804613787

# NIFTY50 PAY LATER
BOT_NIFTY50_PAY_LATER_TOKEN=8934391945:AAEdycuHV7sZP6eASCU2j7kQ9SBG7e9D4Q0
CHANNEL_NIFTY50_PAY_LATER_ID=-1003814243881

# Webhook Security
WEBHOOK_SECRET=7kJ9mL2pQ5xR8tV1wY3nB6cD9hF2jG5kL8mN
FLASK_ENV=production
PORT=5000
